<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Questions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<br>
<h1>Ready? Steady.. Go!</h1><br>

<form action="#"
      th:action="@{/questions}"
      th:object="${answersData}" method="post">

    <tr th:each="i: ${#numbers.sequence(0, questions.size() - 1)}">
        <fieldset id="fieldSet">
            <p th:text="${questions.get(i).question}"/>
            <ul th:each="answer : ${questions.get(i).incorrect_answers}">
                <input th:field="*{answerList['__${i}__']}"
                       th:value="${answer}"
                       type="radio">

                <label th:for="*{answerList['__${i}__']}"
                       th:text="${answer}"></label>
            </ul>
            <br>
        </fieldset>
    </tr>
    <p>
        <input type="submit"
               value="Submit"/>

        <input type="reset"
               value="Reset"/>
    </p>
</form>
</body>
</html>
