<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Answers</title>
</head>
<body>
    <h2>Results for</h2>
    <h2 th:text="${name}"></h2>
    <h2 th:text="${score[0]}"></h2>
    <h2>out of</h2>
    <h2 th:text="${score[1]}"></h2>
    <h3>This is</h3>
    <h3 th:text="${score[2]}"></h3>
    <h3>percents</h3>
    <br>

    <ul th:each="game : ${top5}">
        <p th:text="${game.getName()}"></p>
        <p th:text="${game.getScore()}"></p>
        <br>
    </ul>

</body>
</html>